{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
     <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h2>Membership Management Form</h2>
          <!-- types of membership -->
          <div class="form-group">
               <label for="membershipType">Select Membership Type:</label>
               <select class="form-control" id="membershipType" name="membershipType">
                    <option value="subscription">Subscription Basis</option>
                    <option value="day">Day Basis</option>
               </select>
          </div>

          <!-- Name Section -->
          <div class="form-row">
               <div class="form-group col-md-6">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName"
                         placeholder="Enter your first name">{{form.first_name.errors}}
               </div>
               <div class="form-group col-md-6">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName"
                         placeholder="Enter your last name">{{form.last_name.errors}}
               </div>
          </div>

          <!-- profile add -->
          <div class="form-group">
               <label for="fileUpload">Images File</label>
               <input type="file" class="form-control-file" id="fileUpload">{{form.images.errors}}
          </div>




          <!-- Address Section -->
          <div class="form-group">
               <label for="streetAddress">Street Address</label>
               <input type="text" class="form-control" id="streetAddress"
                    placeholder="Enter your street address">{{form.street_address.errors}}
          </div>
          <div class="form-group">
               <label for="streetAddress2">Street Address Line 2</label>
               <input type="text" class="form-control" id="streetAddress2"
                    placeholder="Enter additional address information">{{form.street_address2.errors}}
          </div>
          <div class="form-row">
               <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" placeholder="Enter your city">{{form.city.errors}}
               </div>
               <div class="form-group col-md-4">
                    <label for="state">State/Province</label>
                    <input type="text" class="form-control" id="state"
                         placeholder="Enter your state/province">{{form.state_province.errors}}
               </div>
               <div class="form-group col-md-2">
                    <label for="zipCode">Zip Code</label>
                    <input type="text" class="form-control" id="zipCode"
                         placeholder="Enter your zip code">{{form.zip_code.errors}}
               </div>
          </div>
          <div class="form-group">
               <label for="country">Country</label>
               <input type="text" class="form-control" id="country"
                    placeholder="Enter your country">{{form.country.errors}}
          </div>

          <!-- Contact Information Section -->
          <div class="form-row">
               <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                         placeholder="Enter your email">{{form.email.errors}}
               </div>

               <div class="form-group col-md-6">
                    <label for="contactNumber">Contact Number</label>
                    <input type="tel" class="form-control" id="contactNumber"
                         placeholder="Enter your contact number">{{form.contact.errors}}
               </div>
          </div>




          <!-- Billing Address Section -->
          <div class="form-group">
               <label for="paymentMethod">Select Payment Method:</label>
               <select class="form-control" id="paymentMethod" name="paymentMethod">
                    <option value="{{form.billing_address}}"></option>
               </select>
          </div>



          <!-- Date of Signature Section -->
          <div class="form-group">
               <label for="dateOfSignature">Date of Signature</label>
               <input type="date" class="form-control" id="dateOfSignature">{{form.date_of_signature.errors}}
          </div>

          <!-- Emergency Contacts Section -->
          <div class="form-row">
               <div class="form-group col-md-6">
                    <label for="emergencyContact1">Emergency Contact 1</label>
                    <input type="text" class="form-control" id="emergencyContact1"
                         placeholder="Enter emergency contact number">{{form.emergency_contact.errors}}
               </div>
               <div class="form-group col-md-6">
                    <label for="emergencyContact2">Emergency Contact 2</label>
                    <input type="text" class="form-control" id="emergencyContact2"
                         placeholder="Enter emergency contact number">{{form.emergency_contact2.errors}}
               </div>
          </div>

          <!-- Service Category Section -->
          <div class="form-group">
               <h5>Service Category</h5>
               <div class="form-row">
                    <div class="form-check col-md-3">
                         {% for service_category in service_categorys %}
                         <input class="form-check-input" type="checkbox" value="">{{service_category.name}}
                         {% endfor %}
                    </div>
               </div>

          </div>

          <!-- Subcategory Section -->
          <div class="form-group">
               <h5>Sub Category</h5>
               <div class="form-row">
                    <label class="col-md-3">Recreation and Leisure</label>
                    <div class="form-check col-md-3">
                         <input class="form-check-input " type="checkbox">
                         <label class="form-check-label" for="checkbox1">Entertainment</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Relaxation</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Socializing</label>
                    </div>
               </div>
               <div class="form-row">
                    <label class="col-md-3">Physical Health and Fitness</label>
                    <div class="form-check col-md-3">
                         <input class="form-check-input " type="checkbox">
                         <label class="form-check-label" for="checkbox1">Exercise</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Cardiovascular health</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Muscle toning and strength</label>
                    </div>
               </div>
               <div class="form-row">
                    <label class="col-md-3">Mental Health and Well-being</label>
                    <div class="form-check col-md-3">
                         <input class="form-check-input " type="checkbox">
                         <label class="form-check-label" for="checkbox1">Stress relief</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Mood enhancement</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Meditation</label>
                    </div>
               </div>
               <div class="form-row">
                    <label class="col-md-3">Family and Social Activities</label>
                    <div class="form-check col-md-3">
                         <input class="form-check-input " type="checkbox">
                         <label class="form-check-label" for="checkbox1">Family bonding</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Social gatherings</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Pool parties</label>
                    </div>
               </div>
               <div class="form-row">
                    <label class="col-md-3">Aesthetics and Property Value</label>
                    <div class="form-check col-md-3">
                         <input class="form-check-input " type="checkbox">
                         <label class="form-check-label" for="checkbox1">Landscaping</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Property value enhancement</label>
                    </div>
                    <div class="form-check col-md-3">
                         <input class="form-check-input" type="checkbox">
                         <label class="form-check-label" for="checkbox1">Visual appeal</label>
                    </div>
               </div>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
     </form>
</div>

{% endblock content %}