<div class="col-md-2">
     <nav class="text-center">
          <div class="sidebar-sticky">
               <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                         <a class="nav-link   {% if request.resolver_match.url_name == 'add_member' %} bg-secondary active{% endif %}"
                              href="{% url 'add_member'%}">Add Member</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link  {% if request.resolver_match.url_name == 'cashtransaction_list' %} bg-secondary active{% endif %}"
                              href="{% url 'cashtransaction_list' %}">Transaction History</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link  {% if request.resolver_match.url_name == 'inventory_list' %} bg-secondary active{% endif %}"
                              href="{% url 'inventory_list' %}">Inventory History</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link  {% if request.resolver_match.url_name == 'inventory_balance' %} bg-secondary active{% endif %}"
                              href="{% url 'inventory_balance' %}">Inventory Balance</a>
                    </li>
                    <!-- Add more menu items as needed -->
               </ul>
          </div>
     </nav>
</div>