{% extends "base.html" %}
{% load static %}
{% block content %}



<!-- Attendance -->
<div class="container mt-5">
     <h2>Attendance Table</h2>
     <table class="table table-bordered">
          <thead>
               <tr>
                    <th scope="col">S.N</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Count</th>
                    <th scope="col">Profile</th>
               </tr>
          </thead>
          <tbody>
               {% for attendance in attendance_list %}
               <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{ attendance.user }}</td>
                    <td><input type="checkbox">{{ attendance.is_present }}</td>
                    <td>{{ attendance.attendance_count }}</td>
                    <td><img src="{{attendance.images.url}}"
                              alt="{{ attendance.user }}" class="img-thumbnail" style="max-width: 60px;"></td>
               </tr>
               {% endfor %}
               <!-- Add more rows as needed -->
          </tbody>
     </table>
</div>



{% endblock content %}