{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-3">
     <div class="row justify-content-center">
          <div class="col-md-10">
               <h2>Create Cash Transaction</h2>
               <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                         {{ field.label_tag }}
                         {{ field }}
                         {% if field.help_text %}
                         <small class="form-text text-muted">{{ field.help_text }}</small>
                         {% endif %}
                         {% if field.errors %}
                         <div class="invalid-feedback d-block">{{ field.errors|join:", " }}</div>
                         {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">Submit</button>
               </form>
          </div>
          {% include "payment_navbar.html" %}
     </div>
</div>


















{% endblock content %}