{% extends "base.html" %}
{% load static %}
{% block content %}



<!-- Cost of the membership -->
<div class="container mt-5">
     <h2>Membership Costs</h2>
     <table class="table table-bordered">
          <thead>
               <tr>
                    <th scope="col">Membership Type</th>
                    <th scope="col">Cost</th>
               </tr>
          </thead>
          <tbody>
               <tr>
                    <td>Basic Membership</td>
                    <td>$50</td>
               </tr>
               <tr>
                    <td>Standard Membership</td>
                    <td>$100</td>
               </tr>
               <tr>
                    <td>Premium Membership</td>
                    <td>$150</td>
               </tr>
               <!-- Add more rows for additional membership types -->
          </tbody>
     </table>

</div>




{% endblock content %}