{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
     <div class="row justify-content-center">
          <div class="col-md-10">
               <h2 class="text-center mb-4">Inventory Balance</h2>

               <div class="row">
                    {% for inventory in object_list %}
                    <div class="col-md-3 mb-3">
                         <div class="card" style="width: 200px;">
                              <img src="{{inventory.images.url}}" class="card-img-top" alt="Image 1">
                              <div class="card-body">
                                   <h5 class="card-title">Name:{{inventory.inventory}}</h5>
                                   <p class="card-text">Date: {{inventory.balance_date | date:"D d M Y"}}</p>
                                   <p class="card-text">Quantity :{{inventory.quantity_on_hand}} items</p>
                              </div>
                         </div>
                    </div>
                    {% endfor %}
               </div>
          </div>


          {% include "admin_navbar.html" %}

     </div>
</div>


{% endblock content %}