{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-5">
     <div class="row justify-content-center">
          <div class="col-md-10">
               <h2 class="text-center mb-4">Inventory Balance</h2>

               <div class="row">
                    {% for inventory in object_list %}
                    <div class="col-md-2 mb-3">
                         <div class="card">
                              <img src="{{inventory.images.url}}" alt="{{ attendance.user }}" class="img-thumbnail"
                                   style="max-width: 100px;">
                              <h5 class="card-title">{{inventory.inventory}}</h5>
                              <p class="card-text">{{inventory.balance_date}}</p>
                              <p class="card-text text-muted">{{inventory.quantity_on_hand}}</p>

                         </div>
                    </div>
                    {% endfor %}
               </div>
          </div>
          {% include "payment_navbar.html" %}
     </div>
</div>


{% endblock content %}