<div class="col-md-2">
     <nav class="text-center">
          <div class="sidebar-sticky">
               <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                         <a class="nav-link   {% if request.resolver_match.url_name == 'cashtransaction_form' %} bg-secondary active{% endif %}"
                              href="{% url 'cashtransaction_form'%}">Transaction Form</a>
                    </li>
               
                    <li class="nav-item">
                         <a class="nav-link  {% if request.resolver_match.url_name == 'inventory_create' %} bg-secondary active{% endif %}"
                              href="{% url 'inventory_create' %}">Inventory Create</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link  {% if request.resolver_match.url_name == 'inventory_balance_create' %} bg-secondary active{% endif %}"
                              href="{% url 'inventory_balance_create' %}">Inventory Balance Create</a>
                    </li>
                    <!-- Add more menu items as needed -->
               </ul>
          </div>
     </nav>
</div>