<div class="col-md-1 text-center">
     <a class="dropdown-item" href="{% url 'cashtransaction_form' %}">Transaction Form</a>
     <a class="dropdown-item" href="{% url 'cashtransaction_list' %}">Transaction History</a>
     <a class="dropdown-item" href="{% url 'inventory_create' %}">Inventory From</a>
     <a class="dropdown-item" href="{% url 'inventory_list' %}"> Inventory History</a>
     <a class="dropdown-item" href="{% url 'inventory_balance' %}">Inventory Balance</a>
     <a class="dropdown-item" href="{% url 'inventory_balance_create' %}">Inventory Balance Create</a>
</div>