<div class="col-md-4">
     <nav class="col-md-2 d-none d-md-block bg-secondary sidebar">
          <div class="sidebar-sticky">
               <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                         <a class="nav-link  {% if request.resolver_match.url_name == 'cashtransaction_form' %} active{% endif %}"
                              href="{% url 'cashtransaction_form'%}">Transaction Form</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link {% if request.resolver_match.url_name == 'cashtransaction_list' %} active{% endif %}"
                              href="{% url 'cashtransaction_list' %}">Transaction History</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link {% if request.resolver_match.url_name == 'inventory_create' %} active{% endif %}"
                              href="{% url 'inventory_create' %}">Inventory History</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link {% if request.resolver_match.url_name == 'inventory_balance_create' %} active{% endif %}"
                              href="{% url 'inventory_balance_create' %}">Inventory Balance Create</a>
                    </li>
                    <li class="nav-item">
                         <a class="nav-link {% if request.resolver_match.url_name == 'inventory_balance' %} active{% endif %}"
                              href="{% url 'inventory_balance' %}">Inventory Balance</a>
                    </li>
                    <!-- Add more menu items as needed -->
               </ul>
          </div>
     </nav>
</div>