{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Membership subscription  -->
<div class="container mt-5">
     <h1 class="text-center">Basic Plan</h1>
     <div class="row">
          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">Basic Daliy</h5>
                    </div>
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price: Rs.400/Day</h6>
                         <p class="card-text">Basic features included.</p>
                         <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>

          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">Standard Monthly </h5>
                    </div>
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price: Rs.4500/Month</h6>
                         <p class="card-text">More features included.</p>
                         <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>

          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">Premium Monthly</h5>
                    </div>
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price:Rs.8000/Month</h6>
                         <p class="card-text">All features included.</p>
                         <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="container mt-5">
     <h1 class="text-center">Daliy Plan</h1>
     <div class="row">
          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">Basic Plan</h5>
                    </div>
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price: Rs.400</h6>
                         <p class="card-text">Basic features included.</p>
                         <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>

          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">Standard Plan </h5>
                    </div>
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price: Rs.500</h6>
                         <p class="card-text">More features included.</p>
                         <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>

          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">Premium Plan</h5>
                    </div>
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price:Rs.800</h6>
                         <p class="card-text">All features included.</p>
                         <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>
     </div>
</div>

<div class="container mt-5">
     <h1 class="text-center">Monthly Plan</h1>
     <div class="row">
          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">Basic Daliy</h5>
                    </div>
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price: Rs.4000</h6>
                         <p class="card-text">Basic features included.</p>
                         <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>

          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">Standard Monthly </h5>
                    </div>
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price: Rs.4500</h6>
                         <p class="card-text">More features included.</p>
                         <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>

          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">Premium Monthly</h5>
                    </div>
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price:Rs.8000</h6>
                         <p class="card-text">All features included.</p>
                         <a href="#" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>
     </div>
</div>

{% endblock %}