{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Membership subscription  -->
<div class="container mt-5">
     <h1 class="text-center">Price</h1>
     <div class="row">
          {% for plan in plans %}
          <div class="col-md-4">
               <div class="card">
                    <div class="card-header">
                         <h5 class="card-title">{{ plan.name }}</h5>
                    </div>
                    <img src="{{ plan.images.url }}" alt="{{ plan.name }}" class="img-fluid"   >
                    <div class="card-body">
                         <h6 class="card-subtitle mb-2 text-muted">Price: {{ plan.price }}</h6>
                         <p class="card-text">{{plan.message | truncatechars:50}}</p>
                         <a href="{% url 'cashtransaction_form' %}" class="btn btn-primary">Subscribe</a>
                    </div>
               </div>
          </div>
          {% endfor %}
     </div>
</div>


{% endblock %}